:root {
    --peach: rgba(228, 36, 142, 0.562);
  }
  
  body {
    background-image: url(https://cdn.britannica.com/w:1100/47/148847-131-607DD61C/Cricket-bat-ball.jpg);
    background-size: cover;
    font-family: "Dosis", sans-serif;
    margin: 10px;
  }
  
  h4 {
    font-size: 50px;
    color: var(--peach);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
  }
  
  /* ///// inputs /////*/
  
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 1em;
    color: gainsboro;
    padding: 0 2em;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  
  .styled-input {
    float: left;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  
  @media only screen and (max-width: 768px) {
    .styled-input {
      width: 70%;
    }
  }
  
  .styled-input label {
    color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  
  .styled-input.wide {
    max-width: 100%;
  }
  
  input,
  textarea {
    padding: 25px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  
  input:focus,
  textarea:focus {
    outline: 0;
  }
  
  input:focus ~ span,
  textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }
  
  textarea {
    width: 100%;
    min-height: 15em;
  }
  
  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  
  .submit-btn {
    float: center;
    padding: 10px;
    margin: 5px 0px 20px 0px;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--peach);
    color: white;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.06),
      0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .submit-btn:hover {
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  
  @media (max-width: 768px) {
    .submit-btn {
      float: center;
      padding: 10px;
      margin: 5px 0px 20px 0px;
      border-radius: 5px;
      display: inline-block;
      background-color: var(--peach);
      color: white;
      font-size: 1em;
      cursor: pointer;
      box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
    }
  }
  
  input[type="checkbox"] + label {
    color: #ccc;
    font-style: italic;
  }
  
  input[type="checkbox"]:checked + label {
    color: #f00;
    font-style: normal;
  }
  